<app-sidebar></app-sidebar>
<div class="container">
  <h1 class="form-title">TruthLens</h1>
  <h2 class="form-subtitle">Ready to check a link? Drop it down here!</h2>
  <mat-tab-group class="tab">
    <mat-tab label="Link">
      <div class="form-container">
        <mat-form-field class="form-field">
          <mat-label>Paste your link here</mat-label>
          <input matInput type="text" [(ngModel)]="articleLink">
          <button *ngIf="articleLink" matSuffix mat-icon-button aria-label="Clear" (click)="clearArticleLink()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Type</mat-label>
          <mat-select [(ngModel)]="selected_type">
            <mat-option value="article">Site</mat-option>
            <mat-option value="image">Image</mat-option>
            <mat-option value="video">Video</mat-option>
          </mat-select>
        </mat-form-field>
        <button class="confirm-button" (click)="onConfirm(articleLink)">Confirm</button>
      </div>
    </mat-tab>
    <mat-tab label="Image">
      <div class="form-container">
        <input class="select-button" #fileUpload
          type="file"
          class="input_fileupload--hidden"
          (input)="onInput($event)"
          (change)="onFileSelected($event)"
          [(ngModel)]="inputFileName"
          [accept]="accept"
         />
         <div *ngFor="let f of files">
          <span>{{f.name}}</span>
          <button class="confirm-button"
                  [attr.title]="deleteButtonLabel?deleteButtonLabel:null"
                  (click)="removeFile(event,f)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <button class="confirm-button" (click)="onUpload()">Confirm</button>
      </div>
    </mat-tab>
    <mat-tab label="Video">
      <div>
        <input type="file" (change)="onVideoSelected($event)" accept="video/*">
        <button mat-raised-button color="primary" (click)="onUploadVideo()">Upload Video</button>
      </div>
    </mat-tab>
    
  </mat-tab-group>
  <app-chatbot></app-chatbot>
  </div>
  