flask
flask_admin
flask-cors
bs4
requests
pandas
numpy
tensorflow
scikit-learn
opencv-python
seaborn
matplotlib
dotenv
nltk
keras
pytubefix
deep_translator
firebase-admin
flask_socketio
torch
smolagents
langchain
langchain_huggingface
langchain_community
PyPDF2
yt-dlp
assemblyai
